<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
     <nav>
        <div id="nav">
            <ul class="navul">
                <li class="navli"><a class="navlink" href="#" style="color: #fff">Home</a></li>
                <li class="navli"><a class="navlink" href="#" style="color: #fff">Profile</a></li>
                <li class="navli"><a class="navlink" href="#" style="color: #fff">About</a></li>
                <li class="navli">
                    <a class="navlink" id="signout" href="#" style="color: #fff">Sign out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="bodyprofile">
        <h5><br />Lexury Life Choice</h5>
    </div>
</body>
</html>