<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>hci html</title>
      <link rel="stylesheet" th:href="@{/styles.css}"/>
      <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
  </head>
  <body>
    <div id="bodydiv">
      <nav>
        <div id="nav">
          <ul class="navul">
            <li class="navli"><a class="navlink" href="#" style="color: #fff">Home</a></li>
            <li class="navli"><a class="navlink" href="#" style="color: #fff">Profile</a></li>
            <li class="navli"><a class="navlink" href="#" style="color: #fff">About</a></li>
            <li class="navli">
              <a class="navlink" id="signout" href="#" style="color: #fff">Sign out</a>
            </li>
          </ul>
        </div>
      </nav>
      <div id="bodyprofile">
        <h5><br />Lexury Life Choice</h5>

          <div class="profilediv">
              <div class="Container" style="width:50%;  margin: auto;">
                  <form method="POST" th:object="${buylexury}">
                      <div class="row" style="margin-top: 8px;">
                          <div class="col-md-6" style="margin-top: 29px;" id="Watch">
                              <h3>Watch:</h3>
                              <div th:each="lexuryitem : ${watch}">
                                  <input name="lexuryitem" type="checkbox" th:value="${lexuryitem.id}" />
                                  <span th:text="${lexuryitem.name}">items</span><br/>
                              </div>
                          </div>

                          <div class="col-md-6" id="shoe" style="margin-top: 29px;">
                              <h3>Shoe:</h3>
                              <div th:each="lexuryitem : ${shoe}">
                                  <input name="lexuryitem" type="checkbox" th:value="${lexuryitem.id}" />
                                  <span th:text="${lexuryitem.name}">items</span><br/>
                              </div>
                          </div>

                          <div  class="col-md-6" id="close" style="margin-top: 29px;">
                              <h3>Close:</h3>
                              <div th:each="lexuryitem : ${close}">
                                  <input name="lexuryitem" type="checkbox" th:value="${lexuryitem.id}" />
                                  <span th:text="${lexuryitem.name}">items</span><br/>
                              </div>
                          </div>

                          <div  class="col-md-6" id="car" style="margin-top: 29px;">
                              <h3>Car</h3>
                              <div th:each="lexuryitem : ${car}">
                                  <input name="lexuryitem" type="checkbox" th:value="${lexuryitem.id}" />
                                  <span th:text="${lexuryitem.name}">items</span><br/>
                              </div>
                          </div>

                      </div>

                      <div>
                          <h3>Name your name:</h3>
                          <input type="text" th:field="*{name}"/>
                          <span class="validationError"
                                th:if="${#fields.hasErrors('name')}"
                                th:errors="*{name}">Name Error</span>
                          <br/>

                          <button>done and submit</button>
                      </div>
                  </form>
              </div>
        </div>
      </div>
    </div>
  </body>
</html>
