	#bodydiv {
        position: relative;
      }
      nav {
        position: absolute;
        top: 1px;
        width: 100%;
        background-color: slategray;
      }
      #bodyprofile {
        position: absolute;
        margin-top: 10%;
        width: 100%;
      }
      nav #nav .navul {
        list-style: none;
      }
      nav #nav .navul .navli {
        float: left;
        padding: 2%;
        padding-top: 1px;
        margin: 2%;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      .navlink {
        text-decoration-style: dotted;
      }
      a :hover {
        color: yellow;
      }
      #signout {
        margin-left: 430px;
      }
      #imageprofile {
        width: 130px;
      }
      h5 {
        margin-left: 46%;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        color: darkslategrey;
      }
      .profilediv {
        text-align: center;
      }
      .profilecontent {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        color: darkslategrey;
      }